<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title VALHALLA

        link(rel="stylesheet", href="../dist/css/normalize.css")
        link(rel="stylesheet", href="../dist/css/main.css")
        
    body(data-barba="wrapper")

        .master( data-barba="container" data-barba-namespace="home" )
            .header
                a(href="https://discord.gg/xtvKakfBzZ" target="_blank").button.discord Join Discord
                a(href="https://discord.gg/xtvKakfBzZ" target="_blank").header__alt
                    img(src="../dist/assets/discord.svg", alt="", srcset="")
                .header__logo Valhalla
                    
                include includes/_burger.pug

            .main
                .heading
                    h2 Welcome, Friend!
                .informationRow
                    .serverInfo
                        .serverInfo__header Servers
                        .serverInfo__content
                            .serverInfo__tags
                                .serverInfo__name TeaParty
                                .serverInfo__tag Active
                            .serverInfo__progressBar
                            .serverInfo__playerInfo
                                .serverInfo__activeUsers 20
                                p /
                                .serverInfo__maxOnline 40



            
    script(src="../dist/bundle.js")

        
        