<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title VALHALLA

        link(rel="stylesheet", href="../dist/css/normalize.css")
        link(rel="stylesheet", href="../dist/css/main.css")
        
    body(data-barba="wrapper")

        .master( data-barba="container" data-barba-namespace="home" )
            .header
                a(href="https://discord.gg/xtvKakfBzZ" target="_blank").button.discord Join Discord
                a(href="https://discord.gg/xtvKakfBzZ" target="_blank").header__alt
                    img(src="../dist/assets/discord.svg", alt="", srcset="")
                .header__logo Valhalla
                    
                include includes/_burger.pug

            .main
                .heading
                    h2 Welcome, Friend!
                
                .informationRow
                    .monitoring

                        .infoBlock
                            .infoBlock__title Servers
                            
                            .server
                                .server__name TeaParty
                                
                                .progressBar
                                    .progressBar__active
                                    .progressBar__overall
                                
                                .serverStat
                                    .serverStat__active 12
                                    .serverStat__hyphen /
                                    .serverStat__overall 40
                            
                        .infoBlock
                            .infoBlock__title About Valhalla

                            .infoBlock__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit atque distinctio aliquid voluptas nemo numquam fuga qui, facilis provident iusto ipsam molestiae quam sapiente reiciendis, quidem veniam! Dolorum nemo maiores dolorem voluptatem corporis nisi optio?

                            .infoBlock__image
                                img(src="../dist/assets/viking.png", alt="", srcset="")

                .playButton
                    .playButton__content
                        a(href="#").button.button-alternate Start play on Teaparty
                        .playButton__description mc.teaparty.fun


            
    script(src="../dist/bundle.js")

        
        