<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title VALHALLA

        link(rel="stylesheet", href="dist/css/normalize.css")
        link(rel="stylesheet", href="dist/css/main.css")
        
    body(data-barba="wrapper")
        .master( data-barba="container" data-barba-namespace="home" )

            .preloader
                .loader
                .preloader__text Please wait...
            
            .intro
                .welcome
                    .welcome__heading Valhalla
                    .welcome__description Minecraft server complex
                    a(href="html/home.html").button.login Ввойти в Вальхаллу

        script(src="dist/bundle.js")
        
        