<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title VALHALLA | Join us!

        link(rel="stylesheet", href="../dist/css/normalize.css")
        link(rel="stylesheet", href="../dist/css/main.css")
        
    body(data-barba="wrapper")

        
        .master( data-barba="container" data-barba-namespace="home" )
            .navigation
                .navigation__close
                    img(src="../dist/assets/close.svg", alt="", srcset="")
                .navigation__list     
                    a(href="home.html")
                        .navigation__item Home
                    a(href="about.html")
                        .navigation__item About
                    a(href="team.html")
                        .navigation__item Team
                    a(href="join.html")
                        .navigation__item.activeTab Join
                    
            .header
                a(href="https://discord.gg/xtvKakfBzZ" target="_blank").button.discord Join Discord
                a(href="https://discord.gg/xtvKakfBzZ" target="_blank").header__alt
                    img(src="../dist/assets/discord.svg", alt="", srcset="")
                .header__logo Valhalla
                    
                include includes/_burger.pug

            .main

                .htoPlay
                    .htoPlay__steps
                        .htoPlay__step
                            .htoPlay__number 1
                            .htoPlay__text Присоединится на наш discord-сервер

                        .htoPlay__step
                            .htoPlay__number 2
                            .htoPlay__text Написать боту Фрейе, команду  /reg [ник]

                        .htoPlay__step
                            .htoPlay__number 3
                            .htoPlay__text После этого, Вам придёт ваш пароль, который вы сможете изменить.

                        .htoPlay__step
                            .htoPlay__number 4
                            .htoPlay__text Заходите на сервер и ищите славу!

                
    script(src="../dist/bundle.js")

        
        