<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title VALHALLA | Team

        link(rel="stylesheet", href="../dist/css/normalize.css")
        link(rel="stylesheet", href="../dist/css/main.css")
        
    body(data-barba="wrapper")

        
        .master( data-barba="container" data-barba-namespace="home" )
            .navigation
                .navigation__close
                    img(src="../dist/assets/close.svg", alt="", srcset="")
                .navigation__list     
                    a(href="home.html")
                        .navigation__item Home
                    a(href="about.html")
                        .navigation__item About
                    a(href="team.html")
                        .navigation__item.activeTab Team
                    a(href="join.html")
                        .navigation__item Join
                    
            .header
                a(href="https://discord.gg/xtvKakfBzZ" target="_blank").button.discord Join Discord
                a(href="https://discord.gg/xtvKakfBzZ" target="_blank").header__alt
                    img(src="../dist/assets/discord.svg", alt="", srcset="")
                .header__logo Valhalla
                    
                include includes/_burger.pug

            .main
                .devTeam
                    .devTeam__header 
                        h3 Команда разработчиков
                    .devTeam__list
                        .devTeam__person
                            .devTeam__Frame
                                p DmytroFrame
                            .devTeam__Frame
                                p Владелец

                        .devTeam__person
                            .devTeam__Frame
                                p Bizarnuy_Chel
                            .devTeam__Frame
                                p Администратор

                        .devTeam__person

                            .devTeam__Frame
                                p VladyslavHimself
                            .devTeam__Frame
                                p Front-End разработчик


            
    script(src="../dist/bundle.js")

        
        