// NOTE Navigation 



@media (max-width: 768px) {

    
    .header {
        margin-top: 0;
        &__logo {
            transform: translateX(-5%);
        }

    }
}

@media (max-width: 620px) {
    .header {

        &__logo {
            transform: translateX(0%);
        }

        .button {
            display: none;
        }

        &__alt {
            display: block;
        }
    }
}

@media screen and (max-width:375px) {
    .welcome {
        &__heading {
            font-size: 3rem;
        }
    }
}


@media (max-width: 320px) {
    .header {

        &__logo {
            font-size: 1.5rem;
            transform: translateX(10%);
        }

        .button {
            display: none;
        }

        &__alt {
            display: block;
        }
    }
}


// NOTE Main

@media (max-width: 850px) {
    .heading {
        width: 95vw;
    }

    .informationRow {
        width: 100%;
    }

    .monitoring {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;

        .infoBlock {
            min-width: 100%;
        }
       }
    .infoBlock {
        margin-bottom: 25px;

        &:nth-child(1) {
            .infoBlock__title {
                display: none;
            }
            height: 100px;
        } 
    }

    .playButton {
        width: 95vw;
        &__content { width: 320px; }
        a { width: inherit !important; }
    }
}


@media (max-width: 650px) {
    .aboutProject {

        &__header {
            h2 {
                padding-top: 20px;
                font-weight: normal;
                font-size: 18px;
            }
        }

        &__desc {
            font-size: 14px;
            max-width: 375px;
        }
    }
}

@media (max-width: 425px) {
    .infoBlock {
        width: 100%;
    }

    .server {
        .progressBar {
            width: 290px;
        }
    }
}

@media (max-width: 375px) {
    .heading {
        h2 {
            font-size: 3.75rem;
        }
        
    }

    .infoBlock {
        width: 100px;
        &:nth-child(2) {
            justify-content: flex-end;
            height: 320px;
        }

        &__image {
            margin-top: 30px;
        }
    }
    
    .playButton {
        &__content {
            width: 250px;
        }
    }


    // !! about

    .aboutProject {

        &__header {
            h2 {
                padding-top: 20px;
                font-weight: normal;
                font-size: 18px;
            }
        }

        &__desc {
            font-size: 14px;
            max-width: 310px;
        }
    }
}

