// NOTE Components


@import 'components/preloader';

@import 'components/intro';

@import 'components/general';

// general support styles

* {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
}

// 


.master {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.button {
    
    
    width: 250px;
    height: 50px;
    
    // margin-top: 20px;

    background-color: $mColor;

    @include fCentered;

    color: #fff;
    text-decoration: none;
    
    transition: .5s ease;
    &:hover {
        background-color: $mLight;
    }
}


.discord {

    width: 150px;
    background-color: #7289DA;
    color: #fff;

    text-transform: uppercase;

    &:hover {
        background-color: #5d7df0;
    }
}


// burger


.filter {
    position: absolute;
  }
  
  .burger {
    display: flex;
    flex-direction: column;
    filter: url(#gooeyness);
    padding: 30px;
  }
  
  .rect {
    background: white;
    display: inline-block;
    height: 32px;
    margin-top: 40px;
    transition: transform 500ms;
    width: 200px;
    background-color: black;
  }
  
  .rect:nth-child(2) {
    transition-delay: 100ms;
  }
  
  .rect:nth-child(3) {
    transition-delay: 100ms;
  }
  
  
  
  .burger.active .rect:nth-child(1) {
    transform: rotate(-45deg) translateX(-51px) translateY(50px);
  }
  
  .burger.active .rect:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .burger.active .rect:nth-child(3) {
    transform: rotate(-45deg) translateX(51px) translateY(-50px);
  }