.navigation {
    
    position: fixed;
    top: 0;
    left: 100%;
    transform: translate(0%, 0);
    z-index: 999;

    width: 400px;
    min-height: 100vh;

    transition: .6s ease;
    background-color: #ccc;


    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        a {
            text-decoration: none;
            color: #000;
        }
    }

    &__item {

        cursor: pointer;

        margin: 25px;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;

        transition: .4s ease;
        &:hover {
            color: $mColor;
        }
    }

    .activeTab {
        color: $mColor;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 5%;
        left: 90%;
        
        transform: translate(-90%, -5%);
    }
}
