.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 999;

    background-color: #f4f4f4;

    transition: opacity 1s ease;

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 14px;

        animation: preloaderText 2s ease infinite;
    }
}


.loader {
    
    display: block;
    position: relative;

    left: 50%;
    top: 50%;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #333;

    margin: -75px 0 0 -75px;

    animation: spin 2s linear infinite;

    &:before {
        content: "";
        position: absolute;

        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;

        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #636363;

        animation: spin 3s linear infinite;
    }
    &:after {
        content: "";
        position: absolute;

        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;

        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #aeaeae;

        animation: spin 1.5s linear infinite;
    }
}


.finishPreload {
    opacity: 0;
    pointer-events: none;
}

  // keyframes for spinner

  @-webkit-keyframes spin {
      0%   {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }

  @keyframes preloaderText {
      0% {
          opacity: .3;
      }

      50% {
          opacity: 1;
      }

      100% {
          opacity: .3;
      }
  }